<div class="grafico-wrapper">
    <h4>Total em contribuições</h4>
    <h2>{{totalSum | currency: 'BRL' }}</h2>

    <apx-chart [series]="chartOptions.series!" [chart]="chartOptions.chart!" [labels]="chartOptions.labels!"
        [fill]="chartOptions.fill!" [legend]="chartOptions.legend!" [dataLabels]="chartOptions.dataLabels!"
        [responsive]="chartOptions.responsive!" [plotOptions]="chartOptions.plotOptions!">
    </apx-chart>

    <div class="legend" *ngFor="let label of chartOptions.labels; let i = index">
        <span class="dot" [ngStyle]="{ 'background-color': chartOptions.fill?.colors?.[i] }"></span>
        <span>{{ label }}</span>
        <strong>{{ chartOptions.series?.[i] | currency: 'BRL' }}</strong>
    </div>
</div>

<div class="cards">
    <app-card *ngFor="let card of data" [data]="card"></app-card>

    <button mat-flat-button type="button" color="primary">
        Incluir Contribuição
    </button>
</div>