/* You can add global styles to this file, and also import other style files */
@primary: #1AAAB2;
@secondary: #21232A;
@gray-50: #BDBDBD;
@gray-90: #464646;
@white: #fff;

@max-width: 1440px;

body,
html,
main,
div,
span,
a,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    max-width: 100dvw;
}

html {
    scroll-behavior: smooth;
}

h5 {
    font-size: 1rem;
    font-weight: 600;
}

h6 {
    font-size: 0.75rem;
    margin: 0;
}

.mat-mdc-input-element {
    color: @gray-90 !important;
}